<!doctype html>
<html>
  <title>{% block title %}{% endblock %}</title>
<style>
body {
  width: 720px;
  margin: 1em auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #babdb6;
  padding: 5px;
}
th {
  text-align: left;
}
</style>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>

